body
{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 11pt;
}

.header
{
    font-size: 2.5em;
    font-weight: 700;
    background: #2C383B;
    color: #d90b3b;
    height: 100px;
}

.button
{
    line-height: 71px;
    color: #2D69AD;   
    letter-spacing: 0.10em;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1em;
    text-align: center;
}