@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

body
{
	background: rgb(30, 30, 42);
	overflow-y: hidden;
}

header
{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	flex-direction: row;
	text-align: center;
	margin-top: 30px;
	margin-left: 40px;
}

header h1
{
	margin-right: 50px;
	color: #fff;
	border-bottom: 2px solid #ff0158;
}

header ul
{
	display: flex;
	align-items: center;
	flex-direction: row;
	flex-wrap: wrap;
	text-align: center;
}

header ul li
{
	list-style: none;
	margin-right: 30px;
}

header ul li a
{
	text-decoration: none;
	color: #fff;
}

header ul li a:hover
{
	color: #ff0158;
}

.content
{
	display: flex;
	color: #fff;
	justify-content: center;
	flex-direction: column;
	flex-wrap: wrap;
	margin-top: 13%;
	margin-left: 3%;
}

.content section
{
	display: flex;
	align-items: center;
	flex-direction: row;
	flex-wrap: wrap;
}

.content h1
{
	font-size: 3em;
}

.content p
{
	margin-top: 20px;
	font-size: 18px;
}

.content button
{
	margin-top: 20px;
	width: 150px;
	font-size: 17px;
	height: 40px;
	outline: none;
	border: none;
	margin-right: 20px;
	text-align: center;
	border-radius: 10px;
	font-weight: 600;
	cursor: pointer;
}

.content #get-started-btn
{
	background: rgb(173, 146, 255);
	color: #fff;
}

.content #add-btn
{
	background: #fff;
	color: #000;
	width: 200px;
}

.content svg
{
	position: absolute;
	bottom: -40px;
	left: 0;
}